@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
}

p {
    color: var(--secondary-text-color);
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

nav {
    background-color: rgb(23, 23, 23);
    box-shadow: 0 0 4px #dcebf8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    justify-content: space-around;
}

.main-nav{
    padding: 10px 20px;
}


.company-logo h2 {
    font-size: 30px;
    color: white;
}

.second-nav {
    background-color: #fff;
    padding: 10px;
    margin-top: 60px; 
    padding-left: 19px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.nav-links ul {
    display: flex;
    gap: 40px;
}

.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    color: rgb(28, 151, 223);
}

.search-container {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.search-bar {
    display: flex;
    align-items: center;
    height: 35px;
    gap: 10px;
}

.news-input {
    width: 0;
    opacity: 0;
    visibility: hidden;
    height: 100%;
    padding-inline: 10px;
    border-radius: 15px;
    border: 1px solid #bbd0e2;
    transition: all 0.5s ease-in-out;
}

.search-button{
    background-color: transparent;
       height: 25px;
    border: none;
}

.search-button:hover {
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
}

.search-container:hover .news-input {
    width: 180px;
    opacity: 1;
    visibility: visible;
}

main {
    padding-top: 150px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card-content {
    padding: 15px;
}

.news-source {
    margin-top: 10px;
}

.login-button {
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.login-button:hover {
    background-color: rgb(0, 105, 210);
}



@media (max-width: 768px) {
    .main-nav{
        display: flex;
        justify-content: space-between;
    }
    .search-container:hover .news-input {
        width: 100px;
        visibility: visible;
        opacity: 1;
    }
    
}